/* shared code */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btw {
  padding: 12.5px 16px;
  background-color: #1d8649d3;
  border: 0px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btw:hover {
  background-color:#33bc6c ;
}


/* main code */
header {
  padding: 16px 120px;
}
nav {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-items {
  display: flex;
  gap: 32px;
  list-style: none;
}
.menu-items li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  opacity: 90%;
  line-height: 152%;
}
#banner {
   background-image: url(./images/hero-bg.png);
  width: 100%;
  height: 674px;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  padding-top: 115.5px;
}
.banner-content {
  width: 1360px;
  margin: 0 auto;
  text-align: center;
  color: white;
}
#banner .banner-content .early-access {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 0 auto;
  padding: 8px 12px;
  border-radius: 1000px;
  background-color: white;
  width: 229px;
  color: #118a43;
  font-size: 16px;
}
#banner .banner-content h1 {
  padding-top: 16px;
  font-size: 72px;
  line-height: 84px;
  opacity: 90%;
}
#banner .banner-content h1 span {
  color: #30B868;
}
#banner .banner-content .text {
  padding-top: 16px;
  font-size: 18px;
  line-height: 34px;
}
#banner .banner-content .banner-btw {
  padding-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: center;
 
}
.btw-2 {
  padding: 12.5px 16px;
  background-color: transparent;
  border: 0px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}
.btw-2:hover {
  border-color: #cccac4;
}

.circle {
  background-color: #30B868;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
#about {
   padding-top: 48px;
}
#about .about-container {
  width: 1360px;
  margin: 0 auto;
}
#about .section-heading {
  margin: 0px auto;
  text-align: center;
 
}
#about .section-heading h1 {
  font-size: 54px;
  color: #001931;
}
#about .section-heading p {
  padding-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#about .section-box {
  padding-top: 44px;
  margin: 0px auto;
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section-card {
  padding: 69.5px 24px;
  width: 322px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 #00000016;
}
.section-card .red-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F95555;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto 0px;
}
.section-card h3 {
  padding: 16px 0;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
} 
.section-card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#brain {
  padding-top: 120px;
}
#brain .brain-content {
  width: 1340px;
  display: flex;
  gap: 60px;
  /* justify-content: center; */
  margin: 0 auto;
}
#brain .brain-content .brain-text {
  padding: 102px 0;
}
.brain-text .solution {
  font-size: 16px;
  line-height: 20px;
  color: #30B868;
}
#brain .brain-content .brain-text h1 {
  padding: 16px 0;
  font-size: 48px;
  color: #001931;
}
#brain .brain-content .brain-text .extra-text {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-bottom: 40px;
}
.brain-text .check-text {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
  font-weight: 500;
  margin-bottom: 16px;
}
#challange {
  width: 1360px;
  text-align: center;
  margin: 120px auto 0;
  background-color: #F7F6F2;

}
.challange-content {
 padding: 80px 0;
}

.challange-content .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.challange-content h1 {
  font-size: 40px;
  color: #001931;
}
.challange-content p{
  padding: 16px 0;
  font-size: 16px;
  line-height: 24px;
  color: #627382;
}
footer {
  margin-top: 120px;
  background-color: #001931;
  padding: 120px 120px 0;
}
.logo-link {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  padding-right: 107px;
}
.logo-link p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
}
.logo-link img
{
  padding-right: 16px;
}
footer .copyright-text {
  width: 1360px;
  padding-top: 80px;

}
footer .copyright-text hr {
  color: #E5E7EB;
  opacity: 20%;
}
footer .copyright-text p {
  padding: 30px 0;
  font-size: 16px;
  line-height: 24px;
  color: #F7F6F2;
  text-align: center;
}
